@charset "utf-8";

/* 全局 字体大小 颜色 链接
----------------------------------------------------- */
html {
	_overflow-x:hidden;
}
body {
	background-color:#fff;
	font-size:12px;
	color:#333;
	font-family:Verdana, Microsoft YaHei, Simsun, Arial Unicode MS, Mingliu, Arial, Helvetica;
	line-height:18px;
	zoom: 1;
}
a {
	color: #0088cc;
	text-decoration: none;
	cursor:pointer;
}
a:hover {
	color: #005580;
	text-decoration: underline;
}



/* 主体内容
----------------------------------------------------- */
.container-body {
	overflow:auto;
}
.container-popup {
	background:#fff url(images/content_bg.png) 0 -150px repeat-x;
}
.container-body .container-fluid,
.container-popup .container-fluid  {
	padding:0;
}



/* 主体内容的标题
----------------------------------------------------- */
.page-header{
	padding:0 10px;
	border-bottom:0;
}
.page-title {
	height:30px;
	background: url(images/page-title.gif) repeat-x;
	line-height: 30px;
	padding: 0 10px;
	font-size: 14px;
	color: #074E81;
	border-bottom:1px solid #A8CFEB;	
}
.page-title .row-fluid {
	_width:98%;
}
.page-title h2 {	
	font-size: 14px;
	line-height:30px;
}



/* panel
----------------------------------------------------- */
.panel .panel-head ,.panel .panel-head .first {
	color:#333;
}

.search-panel .panel-head {
	display:none;
}
.form-panel .panel-head {
	display:none;
}
.apply-panel .panel-head {
	display:none;
}


/* master-page场景
----------------------------------------------------- */
.master-page {}



/* itemdetail-page场景
----------------------------------------------------- */
.itemdetail-page {}



/* login-page场景
----------------------------------------------------- */
.login-page {}



